/*this affects entire body*/
body {
  background-color: black;
}

/*this is the header*/
.header {
  height: 68px;
  width: 100%;
  border-bottom: 1px solid seashell;
  margin-top: 0;
  position: fixed;
  z-index: 2;
  background-color: black;
}

.logo {
  background-image: url("./images/img-tea-cozy-logo.png");
  height: 50px;
  width: 160px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 10px;
  opacity: .9;
  position: fixed;
  display: block;
  z-index: 3;
}

.rhnav {
display: flex;
position: fixed;
display: flex;
flex-direction: row;
justify-content: space-between;
margin-left:70%;
width: 350px;
z-index: 3;
}

.navchil {
font-size: 22px;
font-family: Helvetica;
opacity: .9;
color: seashell;
margin-top: 18px;
}

/*this is the main background image with its title*/
.mainimagecont {
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 1;
}

.mainimage {
  display: flex;
  background-image: url("./images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  margin-top: 69px;
  position: absolute;
}

.ourmission {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 1200px;
  justify-content: center;
  position: absolute;
  background-color: black;
  margin-top: 350px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.text {
  color: seashell;
  text-align: center;
  opacity: .9;
  margin-top: 0;
}

/*this is the tea of the month section*/

.tom {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  font-family: Helvetica;
  color: seashell;
  align-items: center;
  margin-top: 800px;
  color: seashell;
  position: absolute;
  margin-left: 35%;
  opacity: .9;
}

#h4 {
  margin-top: 0;
}

.teaofthemonth {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1000px;
  margin-top: 935px;
  justify-content: center;
  margin-left: 10%;
  position: absolute;
}

.image {
  display: flex;
  height: 200px;
  width: 300px;
  margin: 15px;
}

.imgtext {
  color: seashell;
  text-align: center;
  font-size: 22px;
  font-family: Helvetica;
  opacity: .9;
  margin-top: 10px;
}

#pic1 {
  background-image: url("./images/img-berryblitz.jpg");
  background-size: contain;
}

#pic2 {
  background-image: url("./images/img-spiced-rum.jpg");
  background-size: contain;
}

#pic3 {
  background-image: url("./images/img-donut.jpg");
  background-size: contain;
}

#pic4 {
  background-image: url("./images/img-donut.jpg");
  background-size: contain;
}

#pic5 {
  background-image: url("./images/img-bedford-bizarre.jpg");
  background-size: contain;
}
