/*this affects entire body*/
body {
  background-color: black;
  min-width: 1100px;
}


/*this is the header*/
.header {
  height: 75px;
  width: 100%;
  border-bottom: 2px solid seashell;
  margin-top: -8px;
  margin-left: -8px;
  position: fixed;
  z-index: 2;
  background-color: black;
}
/*this is the logo image*/
#logo {
  background-image: url("./images/img-tea-cozy-logo.png");
  height: 50px;
  width: 160px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 10px;
  opacity: .9;
  position: fixed;
  display: block;
  z-index: 3;
  margin-top: 12px;
}
/*this is the container for ".navchil" (the top right nav)*/
#rhnav {
  display: flex;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 10%;
  width: 100%;
  z-index: 3;
  opacity: .9;
  min-width: 1100px;
}
/*children of the "#rhnav" container*/
.navchil {
  margin-left: 10px;
  margin-right: 20px;
  font-size: 22px;
  font-family: Helvetica;
  color: seashell;
  margin-top: 25px;
}


/*this is the "Our Mission" background image with its title*/

/*this is the container for "".mainimage" and "Our Mission"*/
.mainimagecont {
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 1;
}
/*this is the image*/
.mainimage {
  display: flex;
  background-image: url("./images/img-mission-background.jpg");
  height: 700px;
  width: 100%;
  margin-top: 69px;
  position: absolute;
  background-size: cover;
  min-width: 1100px;
}
/*thi is the background for the "Our Missions" title*/
.ourmission {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100%;
  justify-content: center;
  position: absolute;
  background-color: black;
  margin-top: 350px;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 1.5em;
  min-width: 1100px;
}
   /*this is the "Our Mission" text*/
.text1 {
  color: seashell;
  text-align: center;
  opacity: .9;
  margin-top: 15;
  margin-bottom: 13px;
  font-family: Helvetica;
}
  /*this is the text under "Our Mission"*/
.text2 {
  color: seashell;
  text-align: center;
  opacity: .9;
  margin-top: 13px;
  font-family: Helvetica;
}


/*this is the tea of the month section*/

/*this is the container for the "Tea of the Month" text*/
.tom {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  font-family: Helvetica;
  color: seashell;
  align-items: center;
  margin-top: 815px;
  color: seashell;
  position: absolute;
  opacity: .9;
  width: 100%;
  min-width: 1100px;
}
/*this is the "Tea of the Month" text*/
#h4 {
  display: flex;
  margin-top: 0;
  font-family: Helvetica;
  opacity: .9;
}
/*this is the container for the images and the text below them*/
.teaofthemonth {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 935px;
  justify-content: center;
  position: absolute;
  min-width: 1100px;
}
/*these are the images*/
.image {
  height: 200px;
  width: 300px;
  margin: 15px;
}
/*this is the text below the images*/
.imgtext {
  color: seashell;
  text-align: center;
  font-size: 22px;
  font-family: Helvetica;
  opacity: .9;
  margin-top: 10px;
}
/*these are the image url's*/
#pic1 {
  background-image: url("./images/img-berryblitz.jpg");
  background-size: contain;
}

#pic2 {
  background-image: url("./images/img-spiced-rum.jpg");
  background-size: contain;
}

#pic3 {
  background-image: url("./images/img-donut.jpg");
  background-size: contain;
}

#pic4 {
  background-image: url("./images/img-myrtle-ave.jpg");
  background-size: contain;
}

#pic5 {
  background-image: url("./images/img-bedford-bizarre.jpg");
  background-size: contain;
}

/*this is for the "locations"*/

/*this is the "locations" container*/
.locations {
  display: flex;
  flex-direction: row;
  background-image: url("./images/img-locations-background.jpg");
  height: 500px;
  margin-top: 1550px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  align-items: center;
  justify-content: center;
}
/*these are the "locations" boxes*/
.locblack {
  display: flex;
  height: 300px;
  width: 300px;
  background-color: black;
  margin: 40px;
  position: relative;
}
/*this is the "Locations" title*/
#lacationstext {
  position: absolute;
  color: seashell;
  margin-top: -190px;
  opacity: .9;
  font-weight: bold;
  font-size: 36px;
  font-family: Helvetica;
}
/*this is the address in the location box*/
.loctext {
  color: seashell;
  text-align: center;
  width: 100%;
  opacity: .9;
  font-size: 25px;
  line-height: 65px;
}
/*this is the titles in the location boxes*/
#loctitle {
  font-size: 1.17em;
  font-family: Helvetica;
  opacity: .9;
  margin-bottom: 0px;
  margin-top: 15px;
}
/*this is for the footer*/
.footer {
  width: 100%;
  text-align: center;
  color: seashell;
  height: 200px;
  opacity: .9;
  font-family: Helvetica;
  font-size: 22px
}
/*this is the copyright*/
.copyright {
  color: seashell;
  opacity: .9;
  font-family: Helvetica;
  margin-bottom: 25px;
  margin-left: 20px;
  font-size: 22px;
}
